body {
    overflow-x: scroll;
    overflow-y: scroll;
    background-color: #000;
    color: white;
    text-align: left;
}

#highscore-title {
  padding-left: 40px;
}

.content {
  margin: 50px;
  font-size: 15px;
  overflow: scroll;
}

.list-row {
  margin-top: 16px;
}

.name, .score, .vehicle {
  vertical-align: middle;
  line-height: 24px;
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.name {
  width: 250px;
}

.score {
  width: 60px;
}

.vehicle {
}


#hidden-list {
  display: none;
}
